:root {
    font-size: 62.5%;

    --default-color: rgb(50, 50, 50);
    --default-bg-color: rgb(240, 240, 240);
    --info-color: rgb(100, 150, 240);
    --info-bg-color: rgb(200, 200, 240);
    --success-color: rgb(100, 140, 40);
    --success-bg-color: rgb(235, 245, 215);
    --warning-color: rgb(220, 120, 0);
    --warning-bg-color: rgb(255, 240, 200);
    --error-color: rgb(200, 100, 100);
    --error-bg-color: rgb(255, 235, 235);

    --button-active-color: rgb(50, 50, 50);
    --button-inactive-color: rgb(120, 120, 120);
    --button-bg-color: rgb(230, 230, 230);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.6rem;
    /* 「2.4rem」と「1.6rem」です。フォントサイズは、
    992pxのビューポートでは2.4remまで大きくなり、
    768xのビューポートでは1.6remまで小さくなる */
    /* font-size: calc(1.6rem + (2.4 - 1.6)*(100vw - 768px)/(992 - 768)); */
}

/* [class*="grid"],
[class*="grid"]>[class*=col] {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--default-color);
} */

*:focus {
    outline: none;
}

button,
a.button {
    border: none;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    transition: all .1s linear;
    color: var(--button-active-color);
    background-color: var(--button-bg-color);
}

a.button:hover {
    text-decoration: none;
}

button::before,
button::after,
a.button::before,
a.button::after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    transition: all .2s linear;
    height: 10px;
    width: 10px;
}

button::before,
a.button::before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--button-active-color);
    border-left: 2px solid var(--button-active-color);
}

button::after,
a.button::after {
    right: 0;
    bottom: 0;
    border-right: 2px solid var(--button-active-color);
    border-bottom: 2px solid var(--button-active-color);
}

button:hover::before,
button:disabled::before,
a.button:hover::before,
button:hover::after,
button:disabled::after,
button:focus::before,
button:focus::after,
a.button:hover::after {
    height: 100%;
    width: 100%;
    color: var(--button-active-color);
}

button:disabled {
    background-color: var(--button-active-color);
    color: var(--button-bg-color);
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid transparent;
    background-color: var(--default-bg-color);
    padding: .6rem;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid var(--default-color);
}

input[type="radio"] {
    width: 0;
    height: 0;
}
input[type="radio"] + label{
    padding: 0 .4rem;
    border: 1px solid transparent;
    background-color: var(--button-bg-color);
    cursor: pointer;
}
input[type="radio"]:focus + label{
    border: 1px solid var(--button-active-color);
}
input[type="radio"]:checked + label{
    background-color: var(--button-active-color);
    color: white;
}

.wrapper {
    position: relative;
}

/* notice */
.notice {
    border: solid 1px var(--default-color);
    background-color: white;
    position: fixed;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    transition: all 0.1s ease-in-out;
    padding: 0 0 1rem 0;
    overflow: hidden;
    padding: 1.2rem;
    min-width: 70vw;
    max-width: 90vw;
}

.notice-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 1;
    padding: 0.2rem;
    transition: all .1s linear;
    font-size: 1.4rem;
    color: var(--button-inactive-color);
}

.notice-close:hover {
    color: var(--button-active-color);
}

.notice-messages li {
    word-break: keep-all;
    padding: 0 2rem;
}

.notice._active {
    transform: translateX(-50%) translateY(110%);
}

.notice.__info {
    color: var(--info-color);
}

.notice.__success {
    color: var(--success-color);
}

.notice.__warning {
    color: var(--warning-color);
}

.notice.__error {
    color: var(--error-color);
}

/* input */
input._modified {
    background-color: var(--info-bg-color);
    border-bottom-color: var(--info-color);
}

input.__success {
    background-color: var(--success-bg-color);
    border-bottom-color: var(--success-color);
}

input.__warning {
    background-color: var(--warning-bg-color);
    border-bottom-color: var(--warning-color);
}

/* header */
.header-topline {
    display: flex;
}

.sign_out_button {
    margin-left: auto;
}

.gnav{
    border-bottom: 1px solid var(--default-color);
}
.gnav ._active{
    background-color: 1px solid var(--default-bg-color);
}