:root {
    --default-color: rgb(140, 140, 140);
    --default-bg-color: rgb(240, 240, 240);
    --info-color: rgb(100, 150, 240);
    --info-bg-color: rgb(200, 200, 240);
    --success-color: rgb(100, 140, 40);
    --success-bg-color: rgb(235, 245, 217);
    --warning-color: rgb(220, 120, 0);
    --warning-bg-color: rgb(255, 240, 200);
    --error-color: rgb(200, 100, 100);
    --error-bg-color: rgb(255, 235, 235);
  }

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* [class*="grid"],
[class*="grid"]>[class*=col] {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--default-color);
} */

button {
    border: none;
    padding: 1rem;
}

input[type="text"],
input[type="date"],
textarea {
    outline: none;
    border: 1px solid transparent;
    background-color: var(--default-bg-color);
    padding: .6rem;
}

.wrapper {
    position: relative;
}

/* notice */
.notice {
    bottom: 100%;
    border-width: 1px;
    border-style: solid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: all 0.1s ease-in-out;
    padding: 0 0 1rem 0;
    overflow: hidden;
}

.notice-messages li {
    word-break: keep-all;
    white-space: nowrap;
    padding: 0 2rem
}
.notice._active {
    transform: translateX(-50%) translateY(100%);
}

.notice.__info {
    color: var(--info-color);
    border-color: var(--info-color);
    background-color: var(--info-bg-color);
}

.notice.__success {
    color: var(--success-color);
    border-color: var(--success-color);
    background-color: var(--success-bg-color);
}

.notice.__warning {
    color: var(--warning-color);
    border-color: var(--warning-color);
    background-color: var(--warning-bg-color);
}

.notice.__error {
    color: var(--error-color);
    border-color: var(--error-color);
    background-color: var(--error-bg-color);
}

.notice-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

input._modifed {
    background-color: var(--info-bg-color);
    border-bottom-color: var(--info-color);
}

input.__success {
    background-color: var(--success-bg-color);
    border-bottom-color: var(--success-color);
}

input.__warning {
    background-color: var(--warning-bg-color);
    border-bottom-color: var(--warning-color);
}