*,
:before,
:after {
    box-sizing: inherit;
}

* {
    font-size: inherit;
    line-height: inherit;
}

:before,
:after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    padding: 1rem 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}

h3 {
    padding: 2rem 1rem 2rem;
}

[class*="grid"],
[class*="grid"]>[class*=col] {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

button {
    border: none;
    padding: 1rem;
}

input[type="text"],
input[type="date"],
textarea {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: .6rem;
}