:root {
    font-size: 62.5%;
    --default-radius: 0;
    --info-color: rgb(100, 150, 240);
    --info-bg-color: rgb(200, 200, 240);
    --success-color: rgb(100, 140, 40);
    --success-bg-color: rgb(235, 245, 215);
    --warning-color: rgb(220, 120, 0);
    --warning-bg-color: rgb(255, 240, 200);
    --error-color: rgb(200, 100, 100);
    --error-bg-color: rgb(255, 235, 235);
    --default-active-color: rgb(50, 50, 50);
    --default-negative-color: rgb(120, 120, 120);
    --default-bg-color: rgb(255, 255, 255);
    --button-color: rgb(50, 50, 50);
    --button-bg-color: rgb(220, 220, 220);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.6rem;
    /* 「2.4rem」と「1.6rem」です。フォントサイズは、
    992pxのビューポートでは2.4remまで大きくなり、
    768xのビューポートでは1.6remまで小さくなる */
    /* font-size: calc(1.6rem + (2.4 - 1.6)*(100vw - 768px)/(992 - 768)); */
}

/* [class*="grid"],
[class*="grid"]>[class*=col] {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--default-active-color);
} */

*:focus {
    outline: none;
}

/* button */

button,
a.button {
    border: none;
    padding: 1.0rem;
    position: relative;
    overflow: hidden;
    transition: all .1s linear;
    color: var(--button-color);
    background-color: var(--button-bg-color);
    border-radius: var(--default-radius);
    align-items: center;
    justify-content: center;
    display: flex;
}

a.button:hover {
    text-decoration: none;
}

button::before,
button::after,
a.button::before,
a.button::after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    transition: all .1s linear;
    height: 10px;
    width: 10px;
}

button::before,
a.button::before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--default-active-color);
    border-left: 2px solid var(--default-active-color);
}

button::after,
a.button::after {
    right: 0;
    bottom: 0;
    border-right: 2px solid var(--default-active-color);
    border-bottom: 2px solid var(--default-active-color);
}

button:hover::before,
button:disabled::before,
a.button:hover::before,
button:hover::after,
button:disabled::after,
button:focus::before,
button:focus::after,
a.button:hover::after {
    height: 100%;
    width: 100%;
    color: var(--default-active-color);
}

button:disabled {
    background-color: var(--default-active-color);
    color: var(--default-bg-color);
}

input,
textarea {
    padding: 1.0rem;
}

select {
    padding: 1.2rem 0.8rem;
}

select[multiple] {
    padding: 1.2rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 0;
    height: 0;
}

/* input default */

input,
select,
textarea {
    border: thin solid var(--default-negative-color);
    border-radius: var(--default-radius);
    width: 100%;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    margin: 0.1rem;
    padding: 0.4rem 0.6rem;
    border: thin solid var(--default-negative-color);
    border-radius: var(--default-radius);
    background-color: var(--default-bg-color);
    cursor: pointer;
}

/* input focus */

input:focus,
select:focus,
input[type="radio"]:focus+label,
input[type="checkbox"]:focus+label {
    border-bottom-color: var(--info-color);
}

/* input checked */

input[type="radio"]+label::before,
input[type="checkbox"]+label::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 0.6rem;
}

input[type="radio"]+label::before {
    content: '\f111';
    color: var(--default-negative-color);
}

input[type="checkbox"]+label::before {
    content: '\f0c8';
    color: var(--default-negative-color);
}

input[type="radio"]:checked+label::before {
    content: '\f192';
    color: var(--success-color)
}

input[type="checkbox"]:checked+label::before {
    content: '\f14a';
    color: var(--success-color)
}

/* wrapper */

.wrapper {
    position: relative;
}

/* notice */

.notice {
    border: solid 1px var(--default-active-color);
    background-color: white;
    position: fixed;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    transition: all 0.1s ease-in-out;
    padding: 0 0 1rem 0;
    overflow: hidden;
    padding: 1.2rem;
    min-width: 70vw;
    max-width: 90vw;
}

.notice-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    line-height: 1;
    padding: 0.2rem;
    transition: all .1s linear;
    font-size: 1.4rem;
    color: var(--default-negative-color);
}

.notice-close:hover {
    color: var(--default-active-color);
}

.notice-messages li {
    word-break: keep-all;
    padding: 0 2rem;
}

.notice._active {
    transform: translateX(-50%) translateY(110%);
}

.notice.__info {
    color: var(--info-color);
}

.notice.__success {
    color: var(--success-color);
}

.notice.__warning {
    color: var(--warning-color);
}

.notice.__error {
    color: var(--error-color);
}

/* modified */

input._modified,
select._modified,
input[type="radio"]._modified+label,
input[type="checkbox"]._modified+label {
    background-color: var(--info-bg-color);
}

input.__success,
input[type="radio"].__success+label,
input[type="checkbox"].__success+label {
    background-color: var(--success-bg-color);
    border-bottom-color: var(--success-color);
}

input.__warning {
    background-color: var(--warning-bg-color);
    border-bottom-color: var(--warning-color);
}

/* list */

@keyframes slideup {
    0% {
        padding: 1;
        height: 100%;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

.list-item.__success {
    overflow: hidden;
    color: var(--success-color);
    border-color: var(--success-color);
    background-color: var(--success-bg-color);
    animation: slideup 1s linear 0s
}

/* header */

.header-topline {
    display: flex;
}

.sign_out_button {
    margin-left: auto;
}

.gnav {
    border-bottom: 1px solid var(--default-active-color);
    margin-bottom: var(--grid-gap);
}

.gnav-item {
    transform: translateY(1px);
    line-height: 1.2;
    padding: 0.6rem 1rem;
}

.gnav-item._active {
    border-left: 1px solid var(--default-active-color);
    border-top: 1px solid var(--default-active-color);
    border-right: 1px solid var(--default-active-color);
    background-color: white;
    border-radius: var(--default-radius) var(--default-radius) 0 0;
}

/* クリック可能な範囲を広げる */

.stretched_link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0)
}

/* 要素が「position: relative;」ではない場合は、リンクが親要素より外側に拡大しないように、.position-relativeを用意 */

.stretched_parent {
    position: relative;
}

/* CodeMirror */
.CodeMirror {
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    height: 80vh;
}