*,
:before,
:after {
    box-sizing: inherit;
}

* {
    font-size: inherit;
    line-height: inherit;
}

:before,
:after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    padding: 1rem 1rem 0;
    border-bottom: 2px solid gray
}

h3 {
    padding: 2rem 1rem 2rem;
}

[class*="grid"],
[class*="grid"]>[class*=col] {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px gray;
}

button {
    border: none;
    padding: 1rem;
}

input[type="text"],
input[type="date"],
textarea {
    border: none;
    background-color: lightgrey;
    padding: .6rem;
    border: 1px solid grey;
}
.wrapper {
    position: relative;
}
.notice {
    opacity: 0;
    visibility: hidden;
    border-width: 1px;
    border-style: solid;
    position: sticky;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: opacity 1s, visibility 0s ease 500ms;
    pointer-events: none;
}
.notice-messages li {
    word-break: keep-all;
    white-space: nowrap;
    padding: 0 2rem
}
.notice.__success,
.notice.__warning,
.notice.__err {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.notice.__success{
    border-color: olivedrab;
}
.notice.__warning{
    border-color: darkorange
}
.notice.__err{
    border-color: indianred;
}

input.__modifed {
    border-color: cornflowerblue;
}