language: node_js
node_js: 6.11.5
branches:
  only: master
  
dist: trusty
sudo: false
cache: yarn

before_script:
  - npm install -g firebase-tools
  # - npm install

script: 
  - yarn run jest --coverage

after_script:
  - npm install -g codeclimate-test-reporter

after_success:
  # - npm install --prefix ./functions
  - npm install -g firebase-ci
  - firebase-ci deploy

deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: "1/WrUs56RZ46GInNhjZO2iiDh4RCzJYAl2IBmmCd4NYOU"
  project: "fire-cms-86681"

addons:
  code_climate:
    repo_token: ef07d7699b193cf5921c6f2ca08adadb384f81896caf6f904e1b40d6b38370f8