language: node_js
node_js:
  - 6.11.5
install:
  - npm install -g firebase-tools
after_success:
  - firebase-ci deploy
branches:
  only:
    - master
script:
  - echo "Deploy"
  - npm test -- --coverage
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: "1/WrUs56RZ46GInNhjZO2iiDh4RCzJYAl2IBmmCd4NYOU"
  project: "fire-cms-86681"
ddons:
  code_climate:
    repo_token: ef07d7699b193cf5921c6f2ca08adadb384f81896caf6f904e1b40d6b38370f8