service cloud.firestore {
  match /databases/{database}/documents {

    match /settings {
      allow read : if true
      allow create, update, delete: if request.auth != null
    }

    match /settings/config {
      allow read : if true
      allow create, update, delete: if request.auth != null
    }

    match /tamplates {
      allow read, write: if request.auth != null;
    }

    match /things {
      allow read, write: if request.auth != null;
    }

    match /users {
      allow read, write: if request.auth != null;
    }

    match /divisions {
      allow read, write: if request.auth != null;
    }


    match /assets/{assetsId} {
      
      allow create: if !exists(/databases/$(database)/documents/assets/$(assetsId))
			&& request.resource.data.unique is string
      && request.resource.data.unique != ""

      allow update: if exists(/databases/$(database)/documents/assets/$(assetsId))
			&& request.resource.data.unique is string
      && request.resource.data.unique != ""

      allow read : if true

      allow delete : if request.auth != null
		}
  }
}
