<header class="header col0 grid12 gap1">
    <div class="hedder-topline col0">
        <h1>backend <span>{| name |}</span></h1>
        {|# sign.status |}
        <button class="sign_out_button col3 row1 mid cen" id="sign_out_button" data-request_url="/{|backendFirstPath|}/sign-out">sign out</button>
        {|/#|}
    </div>

    <div class="col0 row1 mid pad1">
        {|# sign.status |}
        <div>uid: {| user.uid |}</div>
        <div>name: {| user.name |}</div>
        <div>email: {| user.email |}</div>
        {|/#|}
    </div>
    
    {|# sign.status |}
    <ul class="gnav col12 grid7 gap1">
        <li class="gnav-item col1 row1 cen mid{|# inParents(`index`) |} _active{|/#|}">
            {|# is(`index`) |}
            <span>index</span>
            {|/#|}
            {|^ is(`index`) |}
            <a href="/{|backendFirstPath|}/index">index</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`index`) |} _active{|/#|}">
            {|# is(`settings`) |}
            <span>settings</span>
            {|/#|}
            {|^ is(`settings`) |}
            <a href="/{|backendFirstPath|}/settings">settings</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`users`) |} _active{|/#|}">
            {|# is(`users`) |}
            <span>users</span>
            {|/#|}
            {|^ is(`users`) |}
            <a href="/{|backendFirstPath|}/users">users</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`divisions`) |} _active{|/#|}">
            {|# is(`divisions`) |}
            <span>divisions</span>
            {|/#|}
            {|^ is(`divisions`) |}
            <a href="/{|backendFirstPath|}/divisions">divisions</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`templates`) |} _active{|/#|}">
            {|# is(`templates`) |}
            <span>templates</span>
            {|/#|}
            {|^ is(`templates`) |}
            <a href="/{|backendFirstPath|}/templates">templates</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`things`) |} _active{|/#|}">
            {|# is(`things`) |}
            <span>things</span>
            {|/#|}
            {|^ is(`things`) |}
            <a href="/{|backendFirstPath|}/things">things</a>
            {|/^|}
        </li>
        <li class="gnav-item col1 row1 cen mid{|# inParents(`assets`) |} _active{|/#|}">
            {|# is(`assets`) |}
            <span>assets</span>
            {|/#|}
            {|^ is(`assets`) |}
            <a href="/{|backendFirstPath|}/assets">assets</a>
            {|/^|}
        </li>
    </ul>
    {|/#|}
</header>