<header class="header col0 grid12 gap1">
    <div class="hedder-topline col0">
        <h1>backend <span>{| name |}</span></h1>
        {|# sign.status |}
        <button class="sign_out_button col3 row1 mid cen" id="sign_out_button" data-request_url="/{|backendFirstPath|}/sign-out">sign out</button>
        {|/#|}
    </div>

    <div class="col0 row1 pad1">
        {|# sign.status |}
        <div>id: {| user.id |}</div>
        <div>name: {| user.name |}</div>
        <div>email: {| user.email |}</div>
        {|/#|}
    </div>
    
    {|# sign.status |}
    <ul class="gnav col0">
        <li class="gnav-item {|# inParents('index') |} _active{|/#|}">
            {|# is('index') |}
            <div><i class="fas fa-tachometer-alt"></i><div>index</div></div>
            {|/#|}
            {|^ is('index') |}
            <a href="/{|backendFirstPath|}/index"><i class="fas fa-tachometer-alt"></i><div>index</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('settings') |} _active{|/#|}">
            {|# is('settings') |}
            <div><i class="fas fa-cog"></i><div>settings</div></div>
            {|/#|}
            {|^ is('settings') |}
            <a href="/{|backendFirstPath|}/settings"><i class="fas fa-cog"></i><div>settings</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('users') |} _active{|/#|}">
            {|# is('users') |}
            <div><i class="fas fa-user"></i><div>users</div></div>
            {|/#|}
            {|^ is('users') |}
            <a href="/{|backendFirstPath|}/users"><i class="fas fa-user"></i><div>users</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('divisions') |} _active{|/#|}">
            {|# is('divisions') |}
            <div><i class="fas fa-project-diagram"></i><div>divisions</div></div>
            {|/#|}
            {|^ is('divisions') |}
            <a href="/{|backendFirstPath|}/divisions"><i class="fas fa-project-diagram"></i><div>divisions</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('templates') |} _active{|/#|}">
            {|# is('templates') |}
            <div><i class="fas fa-clone"></i><div>templates</div></div>
            {|/#|}
            {|^ is('templates') |}
            <a href="/{|backendFirstPath|}/templates"><i class="fas fa-clone"></i><div>templates</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('things') |} _active{|/#|}">
            {|# is('things') |}
            <div><i class="fas fa-file"></i><div>things</div></div>
            {|/#|}
            {|^ is('things') |}
            <a href="/{|backendFirstPath|}/things"><i class="fas fa-file"></i><div>things</div></a>
            {|/^|}
        </li>
        <li class="gnav-item {|# inParents('assets') |} _active{|/#|}">
            {|# is('assets') |}
            <div><i class="fas fa-grip-horizontal"></i><div>assets</div></div>
            {|/#|}
            {|^ is('assets') |}
            <a href="/{|backendFirstPath|}/assets"><i class="fas fa-grip-horizontal"></i><div>assets</div></a>
            {|/^|}
        </li>
    </ul>
    {|/#|}
</header>