<header class="col12 grid12 gap1">
    <div class="col3">backend {| unique |}</div>
    <div class="col6 grid1">
        <div>signin: {| sign.status |} </div>
        <div>uid: {| user.uid |}</div>
        <div>name: {| user.name |}</div>
        <div>email: {| user.email |}</div>
    </div>
    <div class="col12 grid2 rig mid">
        <button class="col2" id="signout">sign out</button>
    </div>

    <h2 class="col3">unique: {| unique |}</h2>
    <h3 class="col3">name: {| name |}</h3>
    <h3 class="col3">-</h3>
    <h3 class="col3">{|!~ __(unique) |}</h3>
    
    <ul class="col12 grid8 gap1">
        <li class="col1 cen">
            {|# is(`index`) |}
            <span>index</span>
            {|/#|}
            {|^ is(`index`) |}
            <a href="/{|backendFirstPath|}/index">index</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`settings`) |}
            <span>settings</span>
            {|/#|}
            {|^ is(`settings`) |}
            <a href="/{|backendFirstPath|}/settings">settings</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`users`) |}
            <span>users</span>
            {|/#|}
            {|^ is(`users`) |}
            <a href="/{|backendFirstPath|}/users">users</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`divisions`) |}
            <span>divisions</span>
            {|/#|}
            {|^ is(`divisions`) |}
            <a href="/{|backendFirstPath|}/divisions">divisions</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`templates`) |}
            <span>templates</span>
            {|/#|}
            {|^ is(`templates`) |}
            <a href="/{|backendFirstPath|}/templates">templates</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`things`) |}
            <span>things</span>
            {|/#|}
            {|^ is(`things`) |}
            <a href="/{|backendFirstPath|}/things">things</a>
            {|/^|}
        </li>
        <li class="col1 cen">
            {|# is(`assets`) |}
            <span>assets</span>
            {|/#|}
            {|^ is(`assets`) |}
            <a href="/{|backendFirstPath|}/things">assets</a>
            {|/^|}
        </li>
    </ul>
</header>