<ul class="col12 grid8 gap1">
    <li class="col1 cen">
        {|# is(`thing`) |}
        <span>edit</span>
        {|/#|}
        {|^ is(`thing`) |}
        <a href="/{|backendFirstPath|}/thing/{| target.unique |}">edit</a>
        {|/^|}
    </li>
    <li class="col1 cen">
        {|# is(`thing-content`) |}
        <span>content</span>
        {|/#|}
        {|^ is(`thing-content`) |}
        <a href="/{|backendFirstPath|}/thing-content/{| target.unique |}">content</a>
        {|/^|}
    </li>
</ul>