<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{| name |}</title>
    <link rel="apple-touch-icon" href="/images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="/{|backendFirstPath|}/reset.css" rel="stylesheet">
    <link href="/{|backendFirstPath|}/std-grid.css" rel="stylesheet">
    <link href="/{|backendFirstPath|}/std-grid-mq.css" rel="stylesheet">
    <link href="/{|backendFirstPath|}/base.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

    <script src="/__/firebase/5.5.8/firebase-app.js"></script>
    <script src="/__/firebase/5.5.8/firebase-auth.js"></script>
    <script src="/__/firebase/5.5.8/firebase-firestore.js"></script>
    <script src="/__/firebase/5.5.8/firebase-storage.js"></script>
    <script src="/__/firebase/5.5.8/firebase-messaging.js"></script>
    <script src="/__/firebase/5.5.8/firebase-functions.js"></script>
    <script src="/__/firebase/init.js"></script>

    <script>
        const firestore = firebase.firestore()
        const settings = {
            timestampsInSnapshots: true
        }
        firestore.settings(settings);
    </script>

    <script src="https://unpkg.com/v8n/dist/v8n.min.js"></script>
</head>

<body>
    <div class="wrapper grid12 gap1 pad1">
        {|@ wrapper |}
        {|> notice |}
    </div>
    
    <script src="/{|backendFirstPath|}/signin.js"></script>
</body>

</html>