{|@ html |} {|> header |}
<input type="file" id="select" name="files[]" multiple>
<output id="list"></output>
<button id="upload" type="button">upload</button>
<button id="delete" type="button">delete</button>
{|> footer |}
<script>
    const selectedFiles = {}
    const defaultFileImage = '/images/file.png'
    const listElemant = document.querySelector('#list')
    const select = document.querySelector('#select')
    const assetList = document.querySelector('#asset-list')
    select.addEventListener('change', selectFiles)
    document.querySelector('#delete').addEventListener('click', deleteFiles)
    document.querySelector('#upload').addEventListener('click', uploadFiles)

    const assetsStoreRef = firebase.firestore().collection('assets')
    const assetsStrageRef = firebase.storage().ref('assets')

    // assetsSroreRef.orderBy('created', 'asc').limit(this.messageLimit)
    assetsStoreRef.onSnapshot(docs => {
        docs.forEach(doc => {
            getAssetFromDoc(doc)
                .then(data => {
                    let assetFrame = document.getElementById(`#id_${data.id}`)
                    if (!assetFrame) {
                        const html =
                            `<div id="id_${data.id}">
                                    <a href="${data.url}">
                                        <img src="${data.thumbUrl}" height="20">
                                        <div>${data.unique}</div>
                                    </a>
                                </div>`
                        assetList.insertAdjacentHTML('beforeend', html)
                    }
                })
                .catch(err => console.log(err))
        })
    })

    function getAssetFromDoc(doc) {
        const data = doc.data()
        const getUrl = assetsStrageRef.child(data.unique).getDownloadURL()
        const getThumb = new Promise((resolve, reject) => {
            if (data.fileType !== 'image') {
                resolve(defaultFileImage)
            } else {
                assetsStrageRef.child(`thumb_${data.unique}`).getDownloadURL()
                    .then(thumb => resolve(thumb))
                    .catch(err => reject(err))
            }
        })
        return Promise.all([getUrl, getThumb])
            .then(results => {
                const [url, thumb] = results
                data.id = doc.id
                data.url = url
                data.thumbUrl = thumb
                return data
            })
    }

    function selectFiles(event) {
        // FileList object
        const files = event.target.files
        // files is a FileList of File objects. List some properties.
        Object.keys(files).forEach(key => {
            const file = files[key]
            const uid = generateUuid()

            // Only process image files.
            if (file.type.match('image.*')) {
                // if (/\.(jpe?g|png|gif)$/i.test(file.type)) {
                // image render
                var reader = new FileReader()
                reader.onload = result => {
                    const frame = createFileInput(uid, file, result.target.result)
                    listElemant.appendChild(frame)
                }
                // Read in the image file as a data URL.
                reader.readAsDataURL(file)
            } else {
                const frame = createFileInput(uid, file, defaultFileImage)
                listElemant.appendChild(frame)
            }
            // set this
            selectedFiles[uid] = file
        })
        // input file element clear
        select.value = ''
    }

    function deleteFiles() {
        Array.from(document.querySelectorAll('.file-frame')).forEach(element => {
            const check = element.querySelector('[type="checkbox"]')
            if (check.checked === true) {
                delete selectedFiles[element.dataset.uid]
                element.parentNode.removeChild(element)
            }
        })
    }

    function createFileInput(uid, file, imagePath = null) {
        imagePath = imagePath == null ? '/images/favicon.png' : imagePath
        const frame = document.createElement('div')
        frame.classList.add('file-frame')
        frame.dataset.uid = uid
        const html =
            `<img src="${imagePath}" height="20"></div>
            <div>${uid}</div>
            <div>${file.type || 'n/a'}</div>
            <div><input class="file-unique" type="text" placeholder="unique"></div>
            <div><input class="file-name" type="text" placeholder="name"></div>
            <div><input class="file-description" type="text" placeholder="description"></div>
            <div>${file.size}</div>
            <div>${file.lastModifiedDate}</div>
            <div>${file.lastModifiedDate.toLocaleDateString()}</div>
            <input type="checkbox">
            <hr>`
        frame.innerHTML = html
        return frame
    }

    function uploadFiles() {
        const url = `${window.location.origin}/backend/updateAsset`
        Array.from(document.querySelectorAll('.file-frame')).forEach(element => {
            const uid = element.dataset.uid
            const name = element.querySelector('.file-name').value
            const unique = element.querySelector('.file-unique').value
            const description = element.querySelector('.file-description').value
            const file = selectedFiles[uid]

            const reader = new FileReader();
            reader.readAsDataURL(file);

            reader.onload = event => {
                const content = event.target.result

                const headers = {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                };

                const body = {
                    unique,
                    name,
                    description,
                    content,
                }

                const options = {
                    method: 'POST',
                    body: JSON.stringify(body),
                    headers: headers,
                }

                fetch(url, options)
                    .then(data => {
                        return data.json()
                    }).then(json => {
                        console.log(json)
                    }).catch(err => {
                        console.log(err)
                    })
            }
        })
    }

    function generateUuid() {
        let chars = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".split("");
        for (let i = 0, len = chars.length; i < len; i++) {
            switch (chars[i]) {
                case "x":
                    chars[i] = Math.floor(Math.random() * 16).toString(16);
                    break;
                case "y":
                    chars[i] = (Math.floor(Math.random() * 4) + 8).toString(16);
                    break;
            }
        }
        return chars.join("");
    }
</script>