{|@ html |} {|> header |}

<input type="file" id="select" name="files[]" multiple>
<output id="list"></output>

<button id="upload" type="button">upload</button>
<button id="delete" type="button">delete</button>
<hr>
<div id="asset-list">

</div>
{|> footer |}

<script>
    const selectedFiles = {}
    const defaultFileImage = '/images/favicon.png'
    const listElemant = document.querySelector('#list')
    const select = document.querySelector('#select')
    const assetList = document.querySelector('#asset-list')
    select.addEventListener('change', selectFile)
    document.querySelector('#delete').addEventListener('click', deleteFile)
    document.querySelector('#upload').addEventListener('click', updateItems)

    const assetsRef = firebase.firestore().collection('assets')

    assetsRef.get()
        .then(docs => {
            docs.forEach(doc => {
                const data = doc.data()
                let src = (data.fileType === 'image') ? data.checkUrl : '/images/file.png'
                assetList.insertAdjacentHTML('beforeend', `<img src="${src}" height="20">`)
            })
        })

    function selectFile(event) {
        // FileList object
        const files = event.target.files
        // files is a FileList of File objects. List some properties.
        Object.keys(files).forEach(key => {
            const file = files[key]
            const uid = generateUuid()

            // Only process image files.
            if (file.type.match('image.*')) {
                // if (/\.(jpe?g|png|gif)$/i.test(file.type)) {
                // image render
                var reader = new FileReader()
                reader.onload = result => {
                    const frame = createFileInputHtml(uid, file, result.target.result)
                    listElemant.appendChild(frame)
                }
                // Read in the image file as a data URL.
                reader.readAsDataURL(file)
            } else {
                const frame = createFileInputHtml(uid, file, defaultFileImage)
                listElemant.appendChild(frame)
            }
            // set this
            selectedFiles[uid] = file
        })
        // input file element clear
        select.value = ''
    }

    function deleteFile() {
        Array.from(document.querySelectorAll('.file_frame')).forEach(element => {
            const check = element.querySelector('[type="checkbox"]')
            if (check.checked === true) {
                delete selectedFiles[element.dataset.uid]
                element.parentNode.removeChild(element)
            }
        })
    }

    function createFileInputHtml(uid, file, imagePath = null) {
        imagePath = imagePath == null ? '/images/favicon.png' : imagePath
        const frame = document.createElement('div')
        frame.classList.add('file_frame')
        frame.dataset.uid = uid
        const html = `<img src="${imagePath}" height="20"></div>
            <div>${uid}</div>
            <div>${file.type || 'n/a'}</div>
            <div><input type="text" value="${encodeURIComponent(file.name)}"></div>
            <div>${file.size}</div>
            <div>${file.lastModifiedDate}</div>
            <div>${file.lastModifiedDate.toLocaleDateString()}</div>
            <input type="checkbox">
            <hr>`
        frame.innerHTML = html
        return frame
    }

    // update items
    function updateItems() {
        console.log('in')
        const getAlreadyAssets = assetsRef.get()
            .then(docs => {
                let alreadyAssets = []
                docs.forEach(doc => {
                    alreadyAssets.push(doc.id)
                })
                return alreadyAssets
            })
            .then(alreadyAssets => {
                Array.from(document.querySelectorAll('.file_frame')).forEach(element => {
                    const uid = element.dataset.uid
                    const name = element.querySelector('[type="text"]').value
                    const file = selectedFiles[uid]
                    file.name = name
                    const option = {
                        cacheControl: 'public,max-age=300',
                        contentDisposition: 'kohei okuda',
                        customMetadata: {
                            name
                        }
                    }

                    if (alreadyAssets.includes(name)) {
                        const target = document.querySelector(`.file_frame[data-uid="${uid}"] [type="text"]`)
                        target.style.border = "1px solid red"
                        return
                    }

                    var uploadTask = firebase.storage().ref('assets').child(name).put(file, option)
                    uploadTask.on('state_changed',
                        snap => {
                            var progress = (snap.bytesTransferred / snap.totalBytes) * 100

                            console.log('Upload is ' + progress + '% done')
                            switch (snap.state) {
                                case firebase.storage.TaskState.PAUSED: // or 'paused'
                                    console.log('Upload is paused')
                                    break
                                case firebase.storage.TaskState.RUNNING: // or 'running'
                                    console.log('Upload is running')
                                    break
                            }
                        },
                        err => {
                            console.log(err)
                        },
                        success => {
                            element.parentNode.removeChild(element)
                            uploadTask.snapshot.ref.getDownloadURL()
                                .then(url => {
                                    console.log('File available at', url)
                                })
                        })
                })
            })
    }

    function generateUuid() {
        let chars = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".split("");
        for (let i = 0, len = chars.length; i < len; i++) {
            switch (chars[i]) {
                case "x":
                    chars[i] = Math.floor(Math.random() * 16).toString(16);
                    break;
                case "y":
                    chars[i] = (Math.floor(Math.random() * 4) + 8).toString(16);
                    break;
            }
        }
        return chars.join("");
    }
</script>