{|@ html |}
{|> header |}
<div>
    <input type="file" id="files" />
    <button id="upload" type="button">アップロード</button>
</div>
{|> footer |}

<script>
    document.querySelector('#upload').addEventListener('click', event => {
        const files = document.querySelector('files').files
        const image = files.pop()

        const ref = firebase.storage().ref().child('images/sample.jpg')
        ref.put(image)
        .then(snap => {
            console.log(snap)
        })
        .catch(err => {
            console.log(err)
        })
    })
</script>