{|@ wrapper |}
{|> header |}

<div class="col0 grid1 gap2">
    <div class="col1">
        <label for="id">id</label>
        <input id="id" name="id" class="target_item" type="text" readonly value="{| target.id |}">
    </div>
    <div class="col1">
        <label for="order">order</label>
        <input id="order" name='order' class="target_item" type="text" value="{| target.order |}">
    </div>
    <div class="col1">
        <label for="unique">unique</label>
        <input id="unique" name="unique" class="target_item" type="text" value="{| target.unique |}">
    </div>
    <div class="col1">
        <label for="name">name</label>
        <input id="name" name="name" class="target_item" type="text" value="{| target.name |}">
    </div>
    <div class="col1">
        <div>type</div>
        <div>
            {|* templateTypes : key : type |}
            <input {|# equal(type, target.type)|} checked{|/#|} class="target_item" id="{|type|}" name='type' type="radio" value="{|type|}">
            <label for="{|type|}">{|type|}</label>
            {|/*|}
        </div>
    </div>
    <div class="col1">
        <label for="content">content</label>
        <textarea id="content" name="content" class="target_item">{| target.content |}</textarea>
    </div>
    <button class="col1 target_item" type="button" id="update_button" data-request_url="{| backendFirstPath |}/template-update" data-id="{| target.id |}">update</button>
</div>

{|> footer |}

<script type="module">

    import { Base } from '/{| backendFirstPath |}/base.js';
    var base = Base.init()

    // codemirror
    const contentElement = document.querySelector('#content')
    const editor = CodeMirror.fromTextArea(contentElement)

    // get element
    const updateBtnElement = document.querySelector('#update_button')

    // click event
    updateBtnElement.addEventListener('click', event => {

        // codemirror to textarea
        editor.save()

        // get button
        const button = event.currentTarget

        // not change then show warnning
        base.requestServer(button, false)
    })

</script>