{|@ wrapper |}
{|> header |}

<div class="col12 grid1 gap1">
    <div class="col1"> <label>name</label> <input id="name" type="text" value="{| name |}"></div>
    <div class="col1"> <label>description</label> <input id="description" type="text" value="{| description |}"></div>
    <div class="col1"> <label>keywords</label> <input id="keywords" type="text" value="{| keywords |}"></div>
    <div class="col1"> <label>summary</label> <input id="summary" type="text" value="{| summary |}"></div>
    <div class="col1"> <label>order</label> <input id="order" type="text" value="{| order |}"></div>
    <div class="col1"> <label>date of issue</label> <input id="date_of_issue" type="date" value="{| dateOfIssue |}"></div>
    <button class="col1" type="button" id="create">create</button>
</div>
        
{|> footer |}