<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{| name |}</title>
    <link rel="apple-touch-icon" href="./images/favicon.png">
    <script src="/__/firebase/5.4.2/firebase-app.js"></script>
    <script src="/__/firebase/5.4.2/firebase-auth.js"></script>
    <script src="/__/firebase/5.4.2/firebase-firestore.js"></script>
    <script src="/__/firebase/5.4.2/firebase-storage.js"></script>
    <script src="/__/firebase/5.4.2/firebase-messaging.js"></script>
    <script src="/__/firebase/5.4.2/firebase-functions.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script>
        const firestore = firebase.firestore();
        const settings = {
            timestampsInSnapshots: true
        };
        firestore.settings(settings);
    </script>
</head>

<body>
    {|@ wrapper |}
</body>

</html>