<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="firebase cms">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
    <title>{| name |}</title>
    <link rel="manifest" href="/manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123733648-1"></script>
    <link rel="apple-touch-icon" href="/images/favicon.png">
    <script src="/__/firebase/5.4.2/firebase-app.js"></script>
    <script src="/__/firebase/5.4.2/firebase-auth.js"></script>
    <script src="/__/firebase/5.4.2/firebase-firestore.js"></script>
    <script src="/__/firebase/5.4.2/firebase-storage.js"></script>
    <script src="/__/firebase/5.4.2/firebase-messaging.js"></script>
    <script src="/__/firebase/5.4.2/firebase-functions.js"></script>
    <script src="/__/firebase/init.js"></script>
</head>

<body>
    {|@ wrapper |}
</body>

</html>