<!DOCTYPE html>\n
<html>\n \n

<head>\n

    <meta charset="utf-8">\n
    <meta http-equiv="X-UA-Compatible" content="IE=edge">\n
    <meta name="description" content="firebase cms">\n
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">\n
    <title>{| name |}</title>\n\n
    <link rel="manifest" href="/manifest.json">\n\n
    <!-- Global site tag (gtag.js) - Google Analytics -->\n
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123733648-1"></script>\n
    <script>\n
        window.dataLayer = window.dataLayer || []; \n
        function gtag() { dataLayer.push(arguments); } \n
        gtag('js', new Date()); \n \n
        gtag('config', 'UA-123733648-1'); \n
    </script>\n\n
    <link rel="apple-touch-icon" href="/images/favicon.png">\n
    <script src="/__/firebase/5.4.0/firebase-app.js"></script>\n
    <script src="/__/firebase/5.4.0/firebase-auth.js"></script>\n
    <script src="/__/firebase/5.4.0/firebase-firestore.js"></script>\n
    <script src="/__/firebase/5.4.0/firebase-storage.js"></script>\n
    <script src="/__/firebase/5.4.0/firebase-messaging.js"></script>\n
    <script src="/__/firebase/5.4.0/firebase-functions.js"></script>\n
    <script src="/__/firebase/init.js"></script>\n
</head>\n\n

<body>\n {|@ html |}\n
    <script type="module" src="/scripts/signin.js"></script> </body>\n

</html>