{|@ wrapper |}

{|> header |}\n
 \n
<div>{| aaa |}</div>\n \n
<a href="/signin">signin</a>\n
<button id="signout">sign out</button>\n
<h1>{|&name|}</h1>\n
<ul>\n
    <li>{| unique |}</li>\n
    <li>{| sign.status |}</li>\n
    <li>{| sign.message |}</li>\n
</ul>
<p>{|user.uid|}</p>\n
<p>{|user.email|}</p>\n
<ul>\n {|* items : item |}
    <li> {|# item.name: name |}{| item.name |}:{| name |}{| /# |} {|# item.gender: gender |}{| gender |}{| /# |} </li>\n {|/*|}\n
</ul>\n
{|* images:image |}
<div><img src="{| image.downloadUrl |}" alt=""></div>
{| /* |}
{|> footer |}\n